@import "sprit.css";
@font-face {
  font-family: "open-sans-light";
  src: url("../fonts/open-sans/OpenSans-Light.eot");
  src: url("../fonts/open-sans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "open-sans-bold";
  src: url("../fonts/open-sans/OpenSans-Bold.eot");
  src: url("../fonts/open-sans/OpenSans-Bold.eot??#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "open-sans-regular";
  src: url("../fonts/open-sans/OpenSans-Regular.eot");
  src: url("../fonts/open-sans/OpenSans-Regular.eot??#iefix") format("embedded-opentype"), url("../fonts/open-sans/OpenSans-Regular.woff") format("woff"), url("../fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.yellow {
  background: #fff200;
}
.red {
  background: #ed1c24;
}
.azure {
  background: #00aeef;
}
.pink {
  background: #f49ac1;
}
.green {
  background: #00a651;
}
.black {
  background: #000;
}
.white {
  background: #fff;
}
.white_br {
  background: #fff;
  border: 1px solid #8a8a8a;
}
.brown {
  background: #603913;
}
.beige {
  background: #f2dea0;
}
.blue {
  background: blue;
}
header {
  background: #aa9598;
  height: 38px;
  padding: 0 15px;
}
.wrapper-content-header {
  font: 16px "open-sans-bold";
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper-content-header__phone {
  color: #fff;
  float: left;
  margin-top: 8px;
}
.wrapper-content-header__search {
  float: left;
  margin: 4px 0 0 20px;
  position: relative;
}
.wrapper-content-header__search .icon-magnifier {
  background: url(../images/spritesheet.png) -63px -86px no-repeat;
  height: 19px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 18px;
}
.wrapper-content-header__search input {
  background: #aa9598;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #f8f7f7;
  color: #fff;
  font: 14px "open-sans-bold";
  margin-left: 22px;
  padding: 3px 0 0 0;
  transition: all .3s;
  outline: none;
  width: 60px;
}
.wrapper-content-header__search input:focus {
  width: 160px;
}
.wrapper-content-header__cart,
.wrapper-content-header__bookmarks {
  color: #fff;
  float: right;
  font: 14px/14px "open-sans-bold";
  margin: 0 28px 0 0;
  max-width: 80px;
  overflow: hidden;
  padding: 18px 0 0 22px;
  position: relative;
  text-overflow: ellipsis;
}
.wrapper-content-header__cart:before,
.wrapper-content-header__bookmarks:before {
  content: "";
  background: url(../images/spritesheet.png) -49px -42px no-repeat;
  display: block;
  height: 22px;
  position: absolute;
  top: 7px;
  left: 0;
  width: 21px;
}
.wrapper-content-header__cart:hover,
.wrapper-content-header__bookmarks:hover,
.wrapper-content-header__cart:focus,
.wrapper-content-header__bookmarks:focus {
  color: #fff;
  text-decoration: none;
}
.wrapper-content-header__bookmarks:before {
  content: "";
  top: 10px;
  background-position: -5px -86px;
}
.wrapper-content-header__action-user-block {
  float: right;
  margin: 8px 0 0 0;
}
.wrapper-content-header__action-user-block .registration-user {
  margin-left: 8px;
}
.wrapper-content-header__action-user-block .registration-user:before {
  content: "";
  background: #fff;
  position: absolute;
  top: 0;
  left: -6px;
  height: 19px;
  width: 1px;
}
.wrapper-content-header__action-user-block .registration-user,
.wrapper-content-header__action-user-block .login-user {
  color: #fff;
  font: 14px "open-sans-light";
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.wrapper-content-header__action-user-block .registration-user:hover,
.wrapper-content-header__action-user-block .login-user:hover {
  text-decoration: underline;
}
.wrapper-content-header__action-user-block .login-user {
  padding: 0 0 0 24px;
}
.wrapper-content-header__action-user-block .login-user:before {
  content: "";
  background: url(../images/spritesheet.png) -35px -86px no-repeat;
  position: absolute;
  top: -2px;
  left: 0;
  height: 21px;
  width: 18px;
}
.wrapper-content-header__city-select,
.wrapper-content-header .language-switch {
  color: #fff;
  cursor: pointer;
  font: 14px/14px "open-sans-light";
  float: right;
  margin: 13px 0 0 48px;
  text-transform: uppercase;
}
.portal-footer {
  background: #aa9598;
}
.portal-footer__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.portal-footer__content span {
  color: #fff;
  font: 20px "open-sans-bold";
  float: left;
  margin: 22px 0;
  text-transform: uppercase;
}
.portal-footer__content input {
  background: #d7c7c9;
  border: 1px solid #fff;
  font: italic 16px "open-sans-regular";
  height: 36px;
  margin: 18px 0 0 24px;
  padding: 10px 18px;
  transition: all .4s;
  outline: none;
  width: 350px;
}
.social-networks {
  float: right;
  margin-top: 19px;
}
.social-networks__vk,
.social-networks__instagram,
.social-networks__facebook {
  background: url(../images/spritesheet.png) -175px -86px no-repeat;
  float: left;
  height: 34px;
  margin-left: 15px;
  width: 34px;
}
.social-networks__instagram {
  background: url(../images/spritesheet.png) -5px -5px no-repeat;
}
.social-networks__facebook {
  background: url(../images/spritesheet.png) -80px -42px no-repeat;
}
.service-footer-info {
  float: right;
  text-align: right;
}
.service-footer-info > span {
  font: 30px "open-sans-bold";
  color: #aa9598;
}
.wrapper-footer-info {
  max-width: 1280px;
  margin: 20px auto;
  padding: 0 15px;
}
.wrapper-footer-menu__item {
  float: left;
  padding-right: 30px;
}
.footer-list-menu__item {
  min-height: 30px;
}
.footer-list-menu__item a {
  color: #aa9598;
  display: block;
  font: 12px/15px "open-sans-regular";
  text-transform: uppercase;
  width: 128px;
}
.payment span {
  color: #aa9598;
  display: block;
  font: 12px "open-sans-regular";
  margin: 12px 0 8px;
  text-transform: uppercase;
}
.payment__visa,
.payment__master-card,
.payment__mail {
  float: right;
  cursor: pointer;
  margin-right: 15px;
}
.payment__visa {
  background: url(../images/spritesheet.png) -91px -86px no-repeat;
  height: 25px;
  margin-top: 4px;
  width: 74px;
}
.payment__master-card {
  background: url(../images/spritesheet.png) -129px -5px no-repeat;
  height: 30px;
  width: 59px;
}
.payment__mail {
  background: url(../images/spritesheet.png) -124px -45px no-repeat;
  height: 31px;
  width: 64px;
  margin-right: 0;
}
.footer-social-networks {
  display: none;
  margin-top: 10px;
}
.footer-social-networks__vk,
.footer-social-networks__instagram,
.footer-social-networks__facebook {
  background: url(../images/spritesheet-responsive.png) -101px -86px no-repeat;
  display: inline-block;
  height: 34px;
  width: 34px;
}
.footer-social-networks__instagram {
  background: url(../images/spritesheet-responsive.png) -5px -5px no-repeat;
}
.footer-social-networks__facebook {
  background: url(../images/spritesheet-responsive.png) -88px -5px no-repeat;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 340px;
}
.main {
  margin: 0 auto;
}
.main-btn {
  border: none;
  color: #fff;
  font: 16px "open-sans-light";
  outline: none;
  text-transform: uppercase;
}
.main-btn_default {
  background-color: #aa9598;
  font: normal 20px/46px open-sans-light;
  padding: 0 40px;
}
.main-btn_sort {
  background: #deb267;
  float: right;
  margin: 16px 11px 6px;
  padding: 10px 66px;
}
.main-btn_email-field {
  background: #deb267;
  margin-left: 16px;
  padding: 7px 18px;
}
.main-btn_email-field_alt {
  background: #aa9598;
}
.main-btn_filter {
  background: none;
  display: block;
  margin: 0 0 18px 18px;
  position: relative;
  padding: 0 0 0 22px;
  color: #000;
}
.main-btn_filter:after {
  content: "\2716";
  color: #d02727;
  font-size: 13px;
  left: 0;
  height: 1px;
  position: absolute;
  top: 3px;
  width: 1px;
}
.main-btn_choose-all {
  padding: 10px 60px;
  background: #d3c8ca;
  margin: 30px 0 0;
}
.main-btn_shop {
  font: 22px "open-sans-light";
  color: #000;
  padding: 8px 80px;
  margin-right: 19px;
  white-space: nowrap;
}
.main-btn_shop-alt {
  background: #deb267;
}
.main-btn_sm {
  background: #dddddd;
  padding: 6px 40px;
  margin: 0 0 18px 18px;
  display: block;
}
.about-bottom-txt {
  margin-top: 40px;
}
.about-bottom-txt > p {
  font-size: 15px;
}
.about-bottom-txt > p + p {
  margin-top: 15px;
}
.wrapper-content-menu {
  border-bottom: 1px solid #aa9598;
  box-sizing: border-box;
}
.wrapper-content-menu__subtitle {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0 0 10px;
}
.wrapper-logo {
  float: left;
  margin: 24px 0;
}
.wrapper-logo__img {
  background: url(../images/logo.png) 0 0 no-repeat;
  display: block;
  height: 62px;
  width: 222px;
}
.wrapper-user-menu {
  float: right;
  margin: 44px 0;
}
.wrapper-user-menu__item {
  font: 16px "open-sans-regular";
  float: left;
}
.wrapper-user-menu__item a {
  padding: 0 16px;
  position: relative;
  text-transform: uppercase;
  color: #aa9598;
}
.wrapper-user-menu__item a:hover,
.wrapper-user-menu__item a:focus {
  color: #deb267;
  text-decoration: none;
}
.wrapper-user-menu__item a:hover:before,
.wrapper-user-menu__item a:focus:before,
.wrapper-user-menu__item a:hover:after,
.wrapper-user-menu__item a:focus:after {
  content: "";
  border-radius: 50%;
  background: #deb267;
  height: 3px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 3px;
}
.wrapper-user-menu__item a:hover:after,
.wrapper-user-menu__item a:focus:after {
  content: "";
  left: inherit;
  right: 0;
}
.wrapper-breadcrumb {
  max-width: 1280px;
  margin: 22px 0;
}
.wrapper-breadcrumb:before,
.wrapper-breadcrumb:after {
  content: " ";
  display: table;
}
.wrapper-breadcrumb:after {
  clear: both;
}
.wrapper-breadcrumb__item {
  float: left;
  font: 10px "open-sans-light";
  color: #aa9598;
  cursor: pointer;
  text-transform: uppercase;
}
.wrapper-breadcrumb__item:after {
  content: "\003E";
  margin: 0 6px;
}
.wrapper-breadcrumb__item:last-child:after {
  content: "";
}
.wrapper-breadcrumb__item a {
  color: #aa9598;
}
.wrapper-breadcrumb__item a:hover,
.wrapper-breadcrumb__item a:focus {
  color: #876c70;
}
.content-page {
  margin: 0 auto;
  max-width: 1280px;
  padding: 15px;
  position: relative;
}
.wrapper-block-sort {
  margin: 0 0 5px 330px;
  transition: all .7s;
}
.wrapper-block-sort__item {
  float: left;
  font: 9px "open-sans-light";
  color: #000;
  cursor: pointer;
  margin-right: 26px;
  text-transform: uppercase;
}
.wrapper-block-sort__item_active {
  font: 9px "open-sans-bold";
}
.main-page-menu {
  float: left;
}
.sitebar,
.filter {
  border: 1px solid #dbc9cc;
  margin-top: 11px;
  width: 310px;
}
.filter__caption {
  display: block;
  font: 16px "open-sans-light";
  text-transform: uppercase;
  padding: 18px;
}
.filter__caption > span {
  color: #aa9598;
  font: 12px "open-sans-light";
  margin-left: 6px;
}
.price-range {
  font: 16px "open-sans-light";
  padding: 0 0 31px 18px;
}
.price-range__from,
.price-range__to {
  float: left;
  margin: 10px 0;
}
.price-range__from span,
.price-range__to span {
  border: 1px solid #dbc9cc;
  padding: 5px 12px;
  margin: 0 10px;
}
.sw-col-l {
  float: left;
  width: 50%;
}
.sitebar-list-menu {
  box-sizing: border-box;
  padding: 12px 18px;
  overflow: hidden;
}
.sitebar-list-menu__item {
  color: #000;
  cursor: pointer;
  font: 16px/30px "open-sans-light";
  text-transform: uppercase;
}
.sitebar-list-menu__item span {
  font: 14px "open-sans-light";
  color: #aa9598;
  margin-left: 10px;
}
.sitebar-list-menu__item:hover {
  color: #deb267;
}
.sitebar-list-menu__item_active {
  font: 14px "open-sans-bold";
  color: #deb267;
}
.sitebar-list-menu__item_alt {
  color: #d02727;
}
.wrapper-catalog {
  margin-left: 320px;
}
.icon-big-heart {
  background: url(../images/spritesheet.png) -49px -5px no-repeat;
  content: "";
  cursor: pointer;
  height: 27px;
  position: absolute;
  right: 22px;
  top: 22px;
  width: 30px;
}
.catalog-list__item {
  box-sizing: border-box;
  border: 1px solid transparent;
  float: left;
  padding: 10px;
  position: relative;
  width: 33.333%;
}
.catalog-list__item:hover {
  border: 1px solid #deb267;
}
.catalog-list__item:hover .wrapper-products-list-sizes {
  opacity: 1;
}
.catalog-list__item:hover .icon-big-heart {
  background: url(../images/spritesheet.png) -89px -5px no-repeat;
}
.catalog-list__item img {
  width: 100%;
}
.category {
  display: block;
  font: 18px "open-sans-light";
  margin: 10px 0 2px 0;
  text-transform: uppercase;
}
.price__discount {
  color: #d02727;
  font: 18px "open-sans-light";
}
.price__basic {
  font: 18px "open-sans-light";
}
.price__discount_active + .price__basic {
  font: 15px "open-sans-light";
  margin: 2px 0 0 8px;
  text-decoration: line-through;
}
.price_lg {
  font-size: 28px;
}
.wrapper-products-list-sizes {
  opacity: 0;
  margin-top: 6px;
  transition: opacity .2s;
}
.wrapper-products-list-sizes__name {
  color: #aa9598;
  float: left;
  font: 14px "open-sans-light";
  margin-right: 4px;
  text-transform: lowercase;
}
.list-sizes__item {
  font: 14px "open-sans-light";
  float: left;
  cursor: pointer;
  margin: 0 4px;
}
.list-sizes__item:hover {
  text-decoration: underline;
}
.color-picker {
  float: right;
  margin: 5px 0;
}
.color-picker__item {
  border-radius: 50%;
  cursor: pointer;
  float: left;
  margin-left: 8px;
  height: 14px;
  width: 14px;
}
.pagination-page {
  text-align: center;
  margin: 14px 0 26px 320px;
}
.pagination-list__item {
  color: #aa9598;
  cursor: pointer;
  display: inline;
  font: 18px "open-sans-light";
  margin: 0 10px;
}
.pagination-list__item:hover {
  text-decoration: underline;
}
.pagination-list__item_active {
  color: #000;
  font: 18px "open-sans-bold";
}
.btn-switch-pages {
  background: transparent;
  color: #aa9598;
  font: 18px "open-sans-light";
  position: relative;
  text-transform: uppercase;
  outline: none;
}
.btn-switch-pages:hover {
  color: #aa9598;
  text-decoration: underline;
}
.btn-switch-pages:after {
  content: "\003E";
  margin-left: 6px;
  position: absolute;
  pointer-events: none;
}
.dropdown {
  display: none;
}
.dropdown button {
  background: url(../images/spritesheet-responsive.png) -5px -49px no-repeat;
  border: none;
  float: left;
  margin: 30px 0 0 26px;
  height: 40px;
  width: 44px;
}
.dropdown .dropdown-menu {
  background: #aa9598;
  border-radius: 0;
  border: none;
  padding: 18px 15px 15px;
  top: 92px;
  width: 346px;
}
.dropdown .dropdown-menu .wrapper-content-header__search {
  display: block;
  margin: 0;
  overflow: hidden;
  width: 100%;
}
.dropdown .dropdown-menu .wrapper-content-header__search input {
  width: 100%;
}
.dropdown-menu-list {
  margin: 40px 0 0;
}
.dropdown-menu-list__item a {
  background: #d7c7c9;
  color: #000;
  display: block;
  font: 16px "open-sans-light";
  margin: 4px 0;
  padding: 6px 18px;
  text-transform: uppercase;
}
.dropdown-menu-list__item a:hover {
  background: #d1bec0;
}
.dropdown-menu-list__item a:hover {
  text-decoration: none;
}
.dropdown-menu-list .divider {
  margin: 13px 0;
  background: #cab1b4;
}
.dropdown-menu-list .arrow:after {
  content: "";
  background: url(../images/spritesheet-responsive.png) -49px -5px no-repeat;
  height: 34px;
  right: 12px;
  top: 0;
  position: absolute;
  width: 29px;
}
.arrow {
  position: relative;
}
.icon-group {
  display: none;
  float: right;
  height: 60px;
  padding: 30px 0 0;
  position: relative;
  max-width: 138px;
}
.icon-group__bookmarks-alt,
.icon-group__cart-alt {
  color: #deb267;
  float: left;
  font: 20px/20px "open-sans-bold";
  overflow: hidden;
  padding: 13px 0 0 30px;
  position: relative;
  min-width: 50px;
  max-width: 64px;
}
.icon-group__bookmarks-alt:before,
.icon-group__cart-alt:before {
  content: "";
  background: url(../images/spritesheet-responsive.png) -101px -48px no-repeat;
  height: 28px;
  width: 31px;
  left: 0;
  position: absolute;
  top: 0;
}
.icon-group__bookmarks-alt:hover,
.icon-group__cart-alt:hover,
.icon-group__bookmarks-alt:focus,
.icon-group__cart-alt:focus {
  color: #deb267;
  text-decoration: none;
}
.icon-group__cart-alt {
  float: right;
  margin: -3px 4px 0 0;
  padding: 16px 17px 0 31px;
}
.icon-group__cart-alt:before {
  content: "";
  background: url(../images/spritesheet-responsive.png) -59px -49px no-repeat;
  height: 33px;
  right: 12px;
  width: 32px;
}
.wrapper-btn-filter {
  display: none;
  position: relative;
}
.wrapper-btn-filter .filter {
  width: 100%;
  border: none;
}
.wrapper-btn-filter .filter .checkbox-custom {
  font: 18px "open-sans-light";
  border-radius: 0;
  height: 36px;
  padding: 4px 0 0 0;
  width: 36px;
}
.wrapper-btn-filter .filter .checkbox-custom:before {
  border-radius: 0;
}
.wrapper-btn-filter .filter .main-btn_filter {
  margin: 18px 0 18px 0;
  padding: 0 0 0 16px;
}
.wrapper-btn-filter .filter .main-btn_filter:hover {
  text-decoration: underline;
}
.wrapper-btn-filter .filter .main-btn_filter:after {
  content: "";
}
.name-product {
  display: none;
  text-align: center;
  margin-top: 10px;
}
.name-product span {
  font: 25px "open-sans-light";
}
.collection-colors__item {
  padding: 0 18px 12px;
}
.collection-colors__item:last-child {
  padding: 0 18px 0;
}
.selection-color:before,
.selection-color:after {
  content: " ";
  display: table;
}
.selection-color:after {
  clear: both;
}
.selection-color__item {
  float: left;
  margin: 0 15px 15px 0;
}
.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}
.checkbox-custom,
.label {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
}
.select-size {
  padding: 0 18px 12px;
}
.select-size__item {
  float: left;
  margin: 0 10px 10px 0;
}
.select-size__item .checkbox-custom {
  font: 12px "open-sans-light";
  border-radius: 0;
  border: 1px solid #777777;
  height: 20px;
  text-align: center;
  width: 20px;
}
.select-size__item .checkbox-custom_active {
  border: 1px solid #deb267;
  color: #fff;
}
.select-size__item .checkbox:checked + .checkbox-custom::before {
  content: "";
  color: #fff;
  border: none;
  border-radius: 0;
  background: #deb267;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: -1;
}
.wrapper-nouislider {
  padding: 6px 18px 0;
}
.wrapper-nouislider .nouislider {
  background: #dbc9cc;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 2px;
}
.wrapper-nouislider .nouislider .noUi-base .noUi-handle,
.wrapper-nouislider .nouislider .noUi-base .noUi-handle {
  background: transparent;
  border: none;
  box-shadow: none;
}
.wrapper-nouislider .nouislider .noUi-base .noUi-handle:before,
.wrapper-nouislider .nouislider .noUi-base .noUi-handle:before,
.wrapper-nouislider .nouislider .noUi-base .noUi-handle:after,
.wrapper-nouislider .nouislider .noUi-base .noUi-handle:after {
  content: "";
  background: #000;
  height: 12px;
  left: 15px;
  top: 1px;
  width: 1px;
}
.wrapper-nouislider .nouislider .noUi-base .noUi-handle:after {
  content: "";
  left: 16px;
}
.wrapper-nouislider .nouislider .noUi-connect {
  background: #000;
}
.wrapper-nouislider .nouislider .noUi-horizontal,
.wrapper-nouislider .nouislider .noUi-tooltip {
  font: 12px "open-sans-light";
  border: none;
  bottom: 100%;
  padding: 0;
}
.row-card * {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.vertical-carousel {
  float: left;
  height: 100%;
  width: 83px;
  position: relative;
}
.vertical-carousel .thumbelina-but.vert {
  background-color: transparent;
  border: 0 none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: auto;
}
.vertical-carousel .thumbelina-but.vert:hover,
.vertical-carousel .thumbelina-but.vert:focus {
  background-color: transparent;
}
.vertical-carousel .thumbelina-but.vert.top {
  top: -35px;
}
.vertical-carousel .thumbelina-but.vert.bottom {
  bottom: -30px;
}
.vertical-carousel .thumbelina > li {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.vertical-carousel .thumbelina > li:hover,
.vertical-carousel .thumbelina > li:focus,
.vertical-carousel .thumbelina > li:active {
  border-color: #1d1d1d;
}
.vertical-carousel .thumbelina > li img {
  height: 117px;
  width: 100%;
}
.vertical-carousel .thumbelina > li + li {
  margin-top: 8px;
}
.card-image-lg {
  position: relative;
}
.card-image-lg img {
  width: 100%;
}
.card-image-lg .sprite-heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.description-info {
  margin-bottom: 40px;
}
.description-info > p + p {
  margin-top: 15px;
}
.social-networks-pink {
  text-align: right;
}
.social-networks-pink > * {
  color: #aa9598;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
}
.social-networks-pink__vk,
.social-networks-pink__instagram,
.social-networks-pink__facebook {
  background: url(../images/spritesheet-responsive.png) -101px -86px no-repeat;
  height: 34px;
  width: 34px;
}
.social-networks-pink__instagram {
  background: url(../images/spritesheet-responsive.png) -5px -5px no-repeat;
}
.social-networks-pink__facebook {
  background: url(../images/spritesheet-responsive.png) -88px -5px no-repeat;
}
.social-networks-pink a + a,
.social-networks-pink span + a {
  margin-left: 10px;
}
.owl-wrapper .product {
  text-align: left;
}
.owl-wrapper .product p {
  line-height: 30px;
  font-size: 18px;
}
body {
  color: #1d1d1d;
  font: 13px "open-sans-light", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.h1 {
  font-size: 28px;
}
h1 {
  font-size: 45px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 23px;
}
.carousel-indicators {
  left: 50%;
  margin-left: -640px;
  text-align: right;
  max-width: 1280px;
}
.carousel-caption {
  left: 50%;
  margin-left: -640px;
  top: 135px;
  max-width: 1280px;
}
.carousel-caption-item {
  float: right;
}
.carousel-caption__row {
  font: normal 80px open-sans-bold;
  clear: both;
  text-shadow: none;
  text-transform: uppercase;
}
.carousel-caption__row_big {
  font-size: 173px;
  line-height: 122px;
}
.carousel-caption__row_small {
  font-size: 26px;
  line-height: 75px;
}
.carousel-caption__btn {
  border-radius: 0;
  color: #000;
  float: right;
  font: normal 18px/40px open-sans-light;
  height: 40px;
  margin-right: 8px;
  padding: 0;
  text-transform: uppercase;
  width: 220px;
}
.menu-services {
  margin: 10px 0;
}
.menu-services__item {
  font: normal 14px/46px open-sans-light;
  position: relative;
  white-space: nowrap;
}
.menu-services__item:before {
  background: url('../images/services.png') no-repeat;
  content: '';
  float: left;
  margin-right: 10px;
}
.menu-services__item:after {
  content: "";
  background: #aa9598;
  height: 26px;
  width: 2px;
  position: absolute;
  right: -24%;
  top: 9px;
}
.menu-services__item:last-child:after {
  content: "";
  display: none;
}
.menu-services__item_materials:before {
  background-position: -5px -5px;
  content: '';
  height: 47px;
  width: 46px;
}
.menu-services__item_delivery:before {
  background-position: -61px -5px;
  content: '';
  height: 47px;
  width: 46px;
}
.menu-services__item_styles:before {
  background-position: -117px -5px;
  content: '';
  height: 47px;
  width: 46px;
}
.menu-services__item_wash:before {
  background-position: -173px -5px;
  content: '';
  height: 38px;
  width: 37px;
}
.menu-services__item_bank-card:before {
  background-position: -220px -5px;
  content: '';
  height: 38px;
  width: 37px;
}
.menu-services__item_delivery-alt:before {
  background-position: -267px -5px;
  content: '';
  height: 38px;
  width: 37px;
}
.menu-services_card {
  bottom: 0;
  margin: 0 0 0 6px;
}
.menu-services_card .menu-services__item {
  line-height: 38px;
  margin: 18px 0 0;
}
.menu-services_card .menu-services__item:after {
  content: "";
  display: none;
}
.content-fieldset {
  border: 4px solid #fff;
  margin: 10px 0 40px;
  padding-bottom: 80px;
  position: relative;
}
.content-fieldset__header {
  font: normal 45px open-sans-light;
  margin-top: -25px;
  text-transform: uppercase;
}
.content-fieldset__header strong {
  background-color: #f6f2f2;
  display: inline-block;
  font: normal 59px/60px open-sans-bold;
  padding: 10px 25px 0;
}
.content-fieldset__header em {
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 10px;
}
.content-fieldset__subheader {
  color: #deb267;
  font: normal 34px open-sans-light;
  margin-top: 15px;
  text-transform: uppercase;
}
.content-fieldset__btn {
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  background-color: #deb267;
  border: 0 none;
  bottom: -33px;
  color: #fff;
  font: normal 30px open-sans-light;
  left: 50%;
  position: absolute;
  padding: 11px 52px;
  outline: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.choose-steps {
  margin: 10px 0 0;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
}
.choose-steps:before {
  background: url(../images/big-arrow.png) 0 0 no-repeat;
  color: #fff;
  content: '';
  height: 89px;
  left: 50%;
  margin-left: -28px;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 56px;
}
.choose-steps__step {
  float: left;
  font: normal 27px/1em open-sans-light;
  height: 150px;
  position: relative;
  width: 50%;
}
.choose-steps__step p {
  margin-top: 44px;
  position: relative;
}
.choose-steps__step:before {
  color: #fff;
  content: '1';
  font: normal 204px/150px open-sans-bold;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 0;
}
.choose-steps__step_2:before {
  content: "2";
}
.content-page h3 {
  margin: -26px 0 10px;
}
.ready-visions {
  padding-bottom: 40px;
  position: relative;
}
.ready-visions .carousel-doubled {
  font-size: 80px;
  margin: 0 auto;
  top: 50%;
  max-width: 1280px;
}
.ready-visions .carousel-doubled .arrow {
  color: #f6f2f2;
}
.ready-visions .carousel-doubled .arrow:after {
  display: none;
}
.ready-visions .main-btn {
  background-color: #d3c8ca;
  font: normal 22px/46px open-sans-light;
  margin-top: 20px;
  padding: 0 40px;
}
.collection-unit {
  background-color: #f8f8f8;
  padding-bottom: 40px;
}
.collection-unit .product .collection-title span {
  color: #deb267;
  display: inline-block;
  font: normal 16px open-sans-bold;
  text-transform: uppercase;
}
.collection-unit .product .collection-title span:before,
.collection-unit .product .collection-title span:after {
  background-color: #deb267;
  border-radius: 50%;
  content: '';
  font-size: 16px;
  float: left;
  height: 3px;
  line-height: 20px;
  margin: 10px 10px 0 0;
  width: 3px;
}
.collection-unit .product .collection-title span:after {
  float: right;
  margin: 10px 0 0 10px;
}
.news .main-btn {
  background-color: #deb267;
  font: normal 22px/46px open-sans-light;
  padding: 0 40px;
}
.news .description {
  font-size: 15px;
  margin-top: 40px;
}
.new {
  min-height: 230px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.new h4 a {
  color: #1d1d1d;
  text-decoration: underline;
}
.new-txt-lg {
  font-size: 16px;
}
.new-txt-lg a {
  position: relative;
}
.new-txt-lg a:before {
  content: ">";
  position: absolute;
  right: -14px;
  top: 3px;
}
.new-lg .h1,
.new-lg h4,
.new-lg .date {
  margin-bottom: 20px;
}
.new-lg .date {
  color: #1d1d1d;
  font-size: 18px;
}
.new-border {
  border: 1px solid #ece5e6;
}
.new-pad {
  padding: 10px 5px;
}
.new-pad-lg {
  padding: 10px 20px;
}
.glyphicon {
  display: block;
  height: 89px;
  width: 56px;
}
.glyphicon__left {
  background: url(../images/spritesheet-arrow.png) -5px -5px no-repeat;
}
.glyphicon__right {
  background: url(../images/spritesheet-arrow.png) -71px -5px no-repeat;
}
.block-pad {
  padding: 20px 0;
}
.section-block {
  border-top: 2px solid #000;
  padding: 20px 0;
}
.main {
  min-height: 100%;
}
a:focus {
  outline: none;
}
.slider .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0;
  height: 700px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.constructor-block {
  background-color: #f6f2f2;
  border-top: 0 none;
  position: relative;
  text-align: center;
}
.product {
  text-align: center;
}
.product > *:last-child {
  margin-bottom: 0;
}
.content-page .carousel-block {
  margin: 0 10%;
  position: relative;
}
.content-page .carousel-block .owl-carousel {
  overflow: hidden;
}
.content-page .carousel-block .owl-theme .owl-controlls {
  display: none;
}
.content-page .carousel-block .item {
  padding: 0 10px;
}
.content-page .carousel-block-card {
  margin: 0 -10px;
}
.content-page .carousel-block-card a.arrow {
  top: calc(50% - 85px);
}
.content-page .carousel-block-card a.arrow-right {
  right: 33px;
}
.content-page .carousel-block-card a.arrow-left {
  left: 38px;
}
.carousel-arrows > a {
  position: absolute;
  top: calc(50% - 22px);
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  z-index: 500;
}
.carousel-arrows > a.arrow-left {
  left: -73px;
}
.carousel-arrows > a.arrow-right {
  right: -73px;
}
.collection-unit-content {
  margin: 0 10%;
}
.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}
.h-100 {
  height: 100%;
}
.full-img {
  height: auto;
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.full-h {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.block-center {
  display: block;
  margin: 0 auto;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.up {
  text-transform: uppercase;
}
.d-table {
  display: table;
  height: 100%;
  width: 100%;
}
.d-inline {
  display: inline-block;
  vertical-align: middle;
}
.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}
.d-flex-justify {
  display: flex;
  display: -webkit-flex;
  justify-content: space-bettwen;
  text-align: justify;
  text-align-last: justify;
  -webkit-box-align: justify;
}
.w-space {
  white-space: nowrap;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.text-center-last {
  text-align: center;
  text-align-last: center;
}
.bold {
  font-family: "open-sans-bold", sans-serif;
}
.txt-large {
  font-size: 18px;
}
.m-t30 {
  margin-top: 30px;
}
.m-t20 {
  margin-top: 20px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t5 {
  margin-top: 5px;
}
.m-b30 {
  margin-bottom: 30px;
}
.m-b20 {
  margin-bottom: 20px;
}
.m-b15 {
  margin-bottom: 15px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b5 {
  margin-bottom: 5px;
}
.m-l20 {
  margin-left: 20px;
}
.m-l10 {
  margin-left: 10px;
}
.m-l5 {
  margin-left: 5px;
}
.m-r10 {
  margin-right: 10px;
}
.m-r5 {
  margin-right: 5px;
}
.nomarg {
  margin-bottom: 0 !important;
}
.m-b25 {
  margin-bottom: 25px;
}
.menu-services > li a {
  font-family: "open-sans-light", sans-serif;
  color: #000;
  text-transform: uppercase;
  display: inline-block;
}
@media (max-width: 1150px) {
  .menu-services > li a {
    font-size: 11px;
  }
}
@media (min-width: 769px) {
  .menu-services {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    -webkit-box-align: justify;
  }
}
@media (max-width: 768px) {
  .menu-services > li {
    padding: 2px 0;
  }
  .menu-services > li a {
    font-size: 11px;
  }
}
.modal-content {
  border: none;
  border-radius: 0;
}
.modal-body {
  padding: 0 0 0 52px;
}
.selected-product {
  padding: 0;
}
.selected-product img {
  height: 230px;
}
.selected-product .category {
  margin: 10px 0;
}
.custom-btn-arrow {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 16px;
  padding: 0;
  top: 19px;
  font-size: 20px;
}
.modal-header {
  border-bottom: none;
  padding: 15px 15px 15px 52px;
}
.modal-header h1 {
  font: 28px "open-sans-light";
  color: #aa9598;
}
.purchase-info {
  padding: 0;
}
.purchase-info > span,
.purchase-info div {
  font: 20px "open-sans-light";
  margin: 16px 0 0 34px;
}
.purchase-info > div span {
  color: #000;
  font-weight: bold;
}
.purchase-info > span {
  background: #aa9598;
  color: #fff;
  display: block;
  margin: 0 0 0 18px;
  padding: 8px 16px;
  text-transform: uppercase;
}
.wrapper-modal-btn-group {
  bottom: 47px;
  position: absolute;
  left: 248px;
}
.modal-footer {
  border-top: 1px solid #000;
  text-align: left;
  padding: 15px 52px;
}
.modal-footer h3 {
  text-align: left;
}
.modal-footer .owl-controlls {
  display: none;
}
.modal-footer .wrapper-catalog {
  margin-left: 0;
}
.modal-footer .wrapper-catalog .catalog-list__item {
  margin: 0 10px 0 10px;
  width: calc(33.33% - 20px);
  padding: 0;
}
.modal-footer .wrapper-catalog .catalog-list__item:first-child {
  margin: 0 20px 0 0;
}
.modal-footer .wrapper-catalog .catalog-list__item:last-child {
  margin: 0 0 0 20px;
}
.modal-footer .wrapper-catalog .catalog-list__item:hover {
  border: 1px solid transparent;
}
.modal-footer .wrapper-catalog .catalog-list__item img {
  height: 425px;
}
.modal-footer .wrapper-catalog .catalog-list__item .price {
  display: block;
}
@media (min-width: 1200px) {
  .modal-dialog {
    width: 1120px;
    margin: 18px auto;
  }
}
@media (max-width: 1200px) {
  .modal-dialog {
    width: 730px;
    margin: 18px auto;
  }
  .modal-dialog .custom-btn-arrow {
    top: 12px;
  }
  .modal-dialog .modal-header h1 {
    font-size: 18px;
  }
  .modal-dialog .selected-product img {
    height: 150px;
  }
  .modal-dialog .purchase-info > span,
  .modal-dialog .purchase-info div {
    font: 14px "open-sans-light";
  }
  .modal-dialog .wrapper-modal-btn-group {
    left: 184px;
  }
  .modal-dialog .wrapper-modal-btn-group .main-btn_shop {
    font: 14px "open-sans-light";
    padding: 8px 42px;
  }
  .modal-dialog .modal-footer h3 {
    font-size: 16px;
  }
  .modal-dialog .modal-footer .wrapper-catalog .catalog-list__item img {
    height: 278px;
  }
  .modal-dialog .modal-footer .wrapper-catalog .catalog-list__item .category,
  .modal-dialog .modal-footer .wrapper-catalog .catalog-list__item .price__basic {
    font-size: 12px;
  }
  .modal-dialog .icon-big-heart {
    right: 10px;
    top: 10px;
  }
}
@media (max-width: 768px) {
  .modal {
    padding-right: 0 !important;
  }
  .modal-dialog {
    width: calc(100% - 15px);
  }
  .modal-dialog .custom-btn-arrow {
    top: 19px;
  }
  .modal-dialog .modal-header {
    padding: 15px;
  }
  .modal-dialog .modal-body {
    padding: 0;
  }
  .modal-dialog .modal-header h1 {
    font-size: 28px;
    text-align: center;
    padding-right: 18px;
  }
  .modal-dialog .selected-product img {
    height: 510px;
  }
  .modal-dialog .purchase-info div {
    font-size: 22px;
  }
  .modal-dialog .wrapper-modal-btn-group {
    position: initial;
  }
  .modal-dialog .wrapper-modal-btn-group .main-btn_shop {
    font: 30px "open-sans-light";
    margin-right: 0;
    margin-bottom: 26px;
    width: calc(100% - 30px);
  }
}
@media (max-width: 496px) {
  .modal-dialog .selected-product img {
    height: 320px;
  }
  .modal-dialog .purchase-info div .modal-header h1,
  .modal-dialog .purchase-info div,
  .modal-dialog .wrapper-modal-btn-group .main-btn_shop {
    font-size: 16px;
  }
}
@media (min-width: 1201px) {
  .tablet {
    display: none !important;
  }
  .hidden-lg {
    display: none !important;
  }
  .price-bt {
    margin-bottom: 40px;
  }
  .main-content {
    padding-bottom: 281px;
  }
  .row-card {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .card-image-lg {
    margin-left: 93px;
  }
  .card-image-lg img {
    height: 500px;
  }
  .social-networks-pink {
    float: right;
  }
  footer {
    margin-top: -261px;
    position: relative;
  }
}
@media (max-width: 1201px) {
  .price {
    display: none;
  }
  .selection-color .checkbox-custom {
    font: 18px "open-sans-light";
    border-radius: 0;
    height: 36px;
    padding: 4px 0 0 0;
    width: 36px;
  }
  .selection-color .checkbox:checked + .checkbox-custom::before {
    border-radius: 0;
  }
  .menu-services__item:after {
    content: "";
    display: none;
  }
}
@media (max-width: 1200px) {
  .desktop {
    display: none !important;
  }
  .wrapper-user-menu {
    display: none;
  }
  .wrapper-user-menu__item {
    display: block;
  }
  .social-networks {
    display: none;
  }
  .wrapper-content-header__cart,
  .wrapper-content-header__bookmarks {
    display: none;
  }
  .wrapper-logo {
    float: none;
    text-align: center;
    margin: 14px 0;
  }
  .wrapper-logo__img {
    display: inline-block;
  }
  .wrapper-content-header__search input:focus {
    width: calc(100% - 88px);
  }
  .dropdown {
    display: block;
  }
  .icon-group {
    display: block;
  }
  .wrapper-breadcrumb {
    text-align: center;
  }
  .wrapper-breadcrumb__item {
    display: inline;
    float: none;
  }
  .main-content {
    padding-bottom: 30px;
  }
  div.text-align {
    text-align: center;
  }
  div.text-align button {
    padding: 14px 60px;
  }
  div.text-align button.main-btn_default {
    padding: 0 40px;
  }
  .wrapper-content-header__action-user-block,
  .wrapper-content-header__search,
  .language-switch,
  .main-page-menu,
  .wrapper-breadcrumb,
  .wrapper-block-sort,
  .wrapper-footer-menu,
  .payment,
  .collection-block {
    display: none;
  }
  .wrapper-catalog {
    margin-left: 0;
  }
  .slider .item {
    background-position: center top;
  }
  .wrapper-btn-filter {
    display: block;
  }
  .pagination-page {
    margin: 14px 0 0;
  }
  .preview {
    padding: 0 28px;
    font: 12px/14px "open-sans-light";
    display: none;
  }
  .wrapper-footer-info {
    margin: 10px auto;
  }
  .portal-footer__content input {
    margin: 14px 0 0 24px;
    width: calc(100% - 418px);
  }
  .portal-footer__content span {
    font: 14px "open-sans-bold";
  }
  .portal-footer__content .main-btn_email-field {
    padding: 7px 20px;
  }
  .service-footer-info {
    float: none;
    text-align: center;
  }
  .service-footer-info span {
    font: 20px "open-sans-bold";
  }
  .footer-social-networks {
    display: block;
  }
  .wrapper-products-list-sizes {
    display: none;
  }
  .carousel-caption-item {
    margin-right: 0;
  }
  .carousel-caption__row {
    font: normal 48px open-sans-bold;
  }
  .carousel-caption__row_big {
    font: normal 104px/86px open-sans-bold;
  }
  .carousel-caption__row_small {
    font: normal 16px open-sans-bold;
    margin: 6px 0;
  }
  .carousel-caption__btn {
    margin-right: 0;
  }
  .row-card {
    height: auto;
  }
  .row-card .row-card-content {
    height: 360px;
  }
  .row-card .col-md-9,
  .row-card .col-md-3 {
    float: none;
    width: 100%;
  }
  .social-networks-pink {
    margin-bottom: 40px;
  }
  .new h4 {
    font-size: 18px;
  }
  .tablet .row.row-sm {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 16px;
    white-space: nowrap;
  }
  .menu-services_card {
    margin: 44px 15px 10px;
  }
  .noUi-tooltip {
    display: none !important;
  }
  .main-btn_sm {
    margin: 8px auto;
    padding: 10px 66px;
  }
}
@media (min-width: 1200px) {
  ul.menu-services_card {
    display: block;
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .new .row .col-sm-6:last-child {
    float: none;
    width: 100%;
  }
  .card-image-block {
    display: none;
  }
}
@media (min-width: 768px) {
  .h1 {
    font-size: 26px;
  }
  .text-align {
    text-align: right;
  }
  .mobile {
    display: none !important;
  }
  .card-btns {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 50px;
  }
  .description-info img {
    float: left;
    margin: 0 20px 20px 0;
  }
}
@media (max-width: 767px) {
  .tablet .carousel-block-tablet {
    display: none !important;
  }
  .desktop-sm {
    display: none !important;
  }
  .wrapper-logo {
    float: none;
    margin-bottom: 0;
    text-align: center;
  }
  .wrapper-logo__img {
    background-size: contain;
    display: inline-block;
    height: 50px;
    margin: 13px 0 0;
    width: 130px;
  }
  .name-product {
    display: block;
  }
  .dropdown button {
    margin: 25px 0 0 4px;
  }
  .wrapper-btn-filter {
    text-align: center;
  }
  .wrapper-btn-filter .main-btn_sort,
  .wrapper-btn-filter .main-btn_sm {
    float: none;
    font: 24px "open-sans-light";
    width: calc(100% - 40px);
  }
  .catalog-list {
    padding: 10px;
  }
  .catalog-list__item {
    width: 100%;
  }
  .portal-footer__content {
    text-align: center;
  }
  .portal-footer__content span {
    float: none;
    font: 27px "open-sans-bold";
    display: block;
    margin: 8px 0;
  }
  .portal-footer__content input {
    margin: 8px 0;
    width: calc(100% - 88px);
  }
  .portal-footer__content .main-btn_email-field {
    font: 24px "open-sans-light";
    margin: 20px 0 28px;
    padding: 4px 40px;
  }
  .category {
    float: left;
  }
  .price {
    float: right;
    margin: 10px 0 2px 0;
  }
  .price .color-picker {
    display: none;
  }
  .carousel-inner {
    height: 500px;
  }
  .carousel-inner > div {
    height: 100% !important;
  }
  .menu-services {
    border: 1px solid #dbc9cc;
    border-right: 0;
    border-left: 0;
    padding: 15px 0;
  }
  .menu-services > li a {
    font-size: 11px;
  }
  .content-fieldset__header {
    margin-top: 0;
  }
  .content-fieldset__header strong {
    font: normal 36px/60px open-sans-bold;
  }
  .content-fieldset__header em {
    font: normal 28px/28px open-sans-light;
    display: block;
    margin: -12px auto;
    width: 270px;
  }
  .content-fieldset__subheader {
    font: normal 20px open-sans-light;
    max-width: 308px;
    margin: 24px auto 0;
  }
  .content-fieldset .choose-steps {
    display: none;
  }
  .content-fieldset .content-fieldset__btn {
    bottom: -27px;
    font: normal 22px open-sans-light;
    padding: 11px 22px;
  }
  .ready-visions .main-btn {
    padding: 0 16px;
  }
  .collection-unit {
    display: none;
  }
  .new-pad {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content-page h3 {
    text-align: left;
    margin: -17px 9px 10px;
  }
  .content-page .carousel-block {
    margin: 0;
  }
  .row-card .row-card-content {
    height: auto;
  }
  .description-info img {
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .main-btn_email-field {
    margin-left: 0;
  }
  .tablet .row.row-sm {
    margin-left: 0;
    margin-right: 0;
    margin-top: 16px;
    margin-bottom: 22px;
  }
  .tablet .row.row-sm > div {
    margin-bottom: 6px;
  }
  .card-btns .main-btn_email-field {
    padding: 14px 18px;
  }
  .modal-dialog .modal-body > div {
    text-align: center;
  }
  .modal-dialog .modal-body .category {
    display: none;
  }
  .modal-dialog .modal-body .purchase-info > span {
    display: none;
  }
  .modal-dialog .modal-body .purchase-info div {
    margin: 16px 0;
  }
  .modal-dialog .modal-footer {
    display: none;
  }
  .carousel-arrows > a.arrow-left {
    left: 24px;
  }
  .carousel-arrows > a.arrow-right {
    right: 24px;
  }
  .glyphicon {
    height: 73px;
    width: 46px;
  }
  .glyphicon__left {
    background: url(../images/spritesheet-arrow-responsive.png) -5px -5px no-repeat;
  }
  .glyphicon__right {
    background: url(../images/spritesheet-arrow-responsive.png) -61px -5px no-repeat;
  }
}
@media (max-width: 520px) {
  .dropdown .dropdown-menu {
    width: calc(100% - 10px);
  }
  .main-btn_default,
  .ready-visions .main-btn,
  .news .main-btn {
    font-size: 16px;
    padding: 0 20px;
  }
}
@media (max-width: 496px) {
  .ready-visions .carousel-doubled .arrow {
    color: #fff;
  }
}
@media (max-width: 320px) {
  .wrapper-btn-filter .main-btn_sort {
    padding: 6px 43px;
  }
  .portal-footer__content .main-btn_email-field {
    font: 22px "open-sans-light";
  }
}
.date {
  color: #aa9598;
  margin-bottom: 5px;
}
.link-pink {
  color: #aa9598;
  text-decoration: underline;
}
.row.row-sm {
  margin-left: -6px;
  margin-right: -6px;
}
.row.row-sm .col-md-8,
.row.row-sm .col-md-4,
.row.row-sm .col-sm-2,
.row.row-sm .col-sm-3,
.row.row-sm .col-sm-5,
.row.row-sm .col-sm-6,
.row.row-sm .col-sm-7,
.row.row-sm .col-sm-9,
.row.row-sm .col-md-6,
.row.row-sm .col-sm-4,
.row.row-sm .col-sm-10,
.row.row-sm .col-md-9,
.row.row-sm .col-md-3 {
  padding-left: 6px;
  padding-right: 6px;
}
.form-control {
  border-color: #777;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  height: 25px;
  color: #1d1d1d;
  padding-left: 5px;
  padding-right: 5px;
}
.custom-select {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}
.custom-select:before {
  border: 5px solid transparent;
  border-top: 5px solid #000;
  content: "";
  position: absolute;
  top: 10px;
  right: 5px;
}
.custom-select select {
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-appearance: menulist-button;
}
.custom-select-txt {
  line-height: 24px;
  text-transform: uppercase;
  white-space: nowrap;
}
